@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@config "./tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply flex flex-col w-full;
}

html {
  font-size: 20px;
  line-height: 1.65em;

  --primaryfg-rgb: 51 51 51;
  --primarybg-rgb: 221 221 221;
  --flashyfg-rgb: 51 51 51;
  --flashybg-rgb: 221 221 221;

  --flashy-font: "IBM Plex Mono", monospace;
  --prose-font: "IBM Plex Mono", monospace;

  @apply flex flex-col items-center;
  @apply text-primaryfg bg-primarybg;
  @apply font-prose;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-flashy;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply underline decoration-gray-500;

  &[href^="http"],
  &[href^="mailto"] {
    @apply decoration-blue-600 text-blue-600;
  }
}

header,
footer {
  /* The translate on the box titlebar covers the navbar unless this */
  z-index: 1;

  @apply py-sm;

  @apply layout-full cpnt-bleed-layout;
}

header {
  justify-content: flex-start;
  @apply bg-primarybg;
  border-bottom: 2px solid;
}

header.sticky {
  top: 0px;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  border-block-end: none;

  margin-block-start: calc(var(--gap));
  margin-block-end: 0;

  @apply bg-primarybg;
}

nav ul,
nav ol {
  list-style: none;
  padding-left: 0;
}

ol,
ul {
  padding-left: 0.2rem;
}

ul {
  @apply list-disc;

  padding-left: 1.4rem;
}

ol {
  list-style: none;
  counter-reset: counter-function;
}

ol li {
  counter-increment: counter-function;
  margin: 0.1rem;
  display: flex;
  align-items: flex-start;
}

ol li::before {
  content: counter(counter-function) ".";
  flex: 0 0 1.8rem;
  text-align: left;
  margin-right: 0rem; /* adjust as needed */
}

button,
input[type="submit"] {
  cursor: pointer;
}

/**
 * This component is taken almost verbatim from Ryan Mulligan's
 * See https://ryanmulligan.dev/blog/layout-breakouts/
 **/
.cpnt-bleed-layout {
  /* Gap is the gutter/alleys size  */
  --cpnt-bleed-layout-gap: clamp(1rem, 6vw, 3rem);
  --cpnt-bleed-layout-full: minmax(var(--cpnt-bleed-layout-gap), 1fr);
  --cpnt-bleed-layout-content: min(
    50ch,
    100% - var(--cpnt-bleed-layout-gap) * 2
  );
  --cpnt-bleed-layout-popout: minmax(0, 2rem);
  --cpnt-bleed-layout-feature: minmax(0, 5rem);

  display: grid;
  /**
   * Note each pair of -start/-end line names creates the track name without the suffix
   * E.g. "full-start" and "full-end" means there is a track name "full"
   **/
  grid-template-columns:
    [full-start]
    var(--cpnt-bleed-layout-full)
    [feature-start]
    var(--cpnt-bleed-layout-feature)
    [popout-start]
    var(--cpnt-bleed-layout-popout)
    [content-start]
    var(--cpnt-bleed-layout-content)
    [content-end]
    var(--cpnt-bleed-layout-popout)
    [popout-end]
    var(--cpnt-bleed-layout-feature)
    [feature-end]
    var(--cpnt-bleed-layout-full)
    [full-end];
}

/* Default all top-level content to the content column */
.cpnt-bleed-layout > * {
  grid-column: content;
}
.cpnt-bleed-layout .layout-popout {
  grid-column: popout;
}
.cpnt-bleed-layout .layout-feature {
  grid-column: feature;
}
.cpnt-bleed-layout .layout-full {
  grid-column: full;
}

.cpnt-record-page {
  @apply layout-full cpnt-bleed-layout;
  @apply py-sm;

  & p,
  & ul,
  & ol {
    @apply mb-lg;
    @apply no-boost;
  }

  & blockquote {
    @apply layout-popout m-0 mb-lg p-xl;

    & p {
      @apply mb-0 mx-0 mt-md p-0;
    }

    & p:nth-of-type(1) {
      @apply mt-0;
    }

    & pre {
      @apply mt-md;
    }
  }

  & pre {
    @apply text-xs;
    line-height: 1.4em;

    @apply layout-popout bg-primaryfg/10 text-primaryfg px-lg py-sm rounded-md overflow-x-auto mb-md;
  }

  & figure {
    @apply bg-primaryfg/40 p-xl rounded-md;

    & figcaption {
      @apply mb-xs;
    }

    & pre {
      @apply bg-primaryfg/10 text-primaryfg px-md py-sm rounded-md overflow-x-auto mb-md;
    }

    & output pre {
      @apply p-md overflow-y-auto;
      max-height: 10rem;
    }
  }

  & h1 {
    @apply my-lg;
  }

  & h2,
  & h3,
  & h4,
  & h6 {
    @apply my-md;
  }
}

/* Override boxicons */
.bx {
  vertical-align: middle;
}

/* Neo-Brutalist Style - Because beauty is overrated. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: #333;
  color: #eee;
}

body {
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  margin: 0;
  position: relative;
  line-height: 1.5em;
  font-size: 15px;
  background: repeating-linear-gradient(
    45deg,
    #aaa,
    #aaa 2px,
    #ccc 2px,
    #ccc 6px
  );
  background-attachment: fixed;
}

.dashboard {
  @apply mt-4;
  padding: 20px;
  border: 2px solid;
  max-width: calc(100% - 40px);
  background: #ddd;
  box-shadow:
    1px 1px,
    2px 2px,
    3px 3px,
    4px 4px;
}

.dashboard > div {
  background-color: #f7f7f7;
  border: 2px solid;
  box-shadow: inherit;
}

.dashboard > div:hover {
  background: #fff;
  color: black;
}

.dashboard > div:last-of-type {
  margin-bottom: 5px;
}

.table-wrap {
  max-width: 100%;
  overflow-x: auto;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid;
  position: relative;
}

h2::before,
h2::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 15px;
  height: 100%;
  left: -15px;
  border: 2px solid;
  border-left: none;
  vertical-align: text-bottom;
}

h2::after {
  left: unset;
  right: -15px;
  border-right: none;
  border-left: 2px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #333;
  padding: 8px;
  text-align: left;
}

tr:hover td {
  background: #eee;
}

th {
  background-color: #666;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  border-bottom: 2px solid;
}

.dashboard a {
  appearance: none;
  border: inherit;
  color: inherit;
  font-family: arial;
  font-size: 24px;
  line-height: 1.1em;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  text-align: center;
  float: right;
  z-index: 9;
  position: relative;
  background: #eee;
}

.dashboard button {
  appearance: none;
  border: inherit;
  color: inherit;
  font-family: arial;
  font-size: 24px;
  line-height: 1.1em;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  text-align: center;
  float: right;
  z-index: 9;
  position: relative;
  background: #eee;
}

.dashboard button:hover {
  background: #666;
  border-color: #666;
  color: white;
}

/* Utility */

/* See https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font */
/* Also, for more details, https://jwir3.wordpress.com/2012/07/30/font-inflation-fennec-and-you/ */
.no-boost {
  max-height: 999999px;
}
